<div class="container">
  <div class="row">
    <div class="panel panel-default custompanel">
      <div class="panel-heading">
        <h3 class="panel-title">Guidelines</h3>
      </div>
      <div class="panel-body labelText">
        <ul>
          <li> duration of tour</li>
          <li> description of what is included in the tour</li>
          <li> description of what will be seen/done during the tour</li>
          <li> name of the city where the tour departs...of what will be seen/done during the tour</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row ">
    <div class="panel panel-default custompanel">
      <div class="panel-heading">
        <h3 class="panel-title">Project Details</h3>
      </div>
      <div class="panel-body labelText">
        <div class="row">
          <div class="col-md-2">
            <label>Client/Account </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Client Name" class="form-control" [(ngModel)]="projectDetails.Client">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Project Name</label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Project Name" class="form-control" [(ngModel)]="projectDetails.Project">
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="row">
          <div class="col-md-2">
            <label>Product Name </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Product Name" class="form-control" [(ngModel)]="projectDetails.Product">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Date </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Date" class="form-control" [(ngModel)]="projectDetails.CreatedDate">
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="row">
          <div class="col-md-2">
            <label>Project Manager</label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="PM Name" class="form-control" [(ngModel)]="projectDetails.ProjectManager">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Email ID </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Email ID" class="form-control" [(ngModel)]="projectDetails.PMEmailID">
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="row">
          <div class="col-md-2">
            <label>Sizing Done By</label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Name" class="form-control" [(ngModel)]="projectDetails.SizingBy">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Email ID </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Email ID" class="form-control" [(ngModel)]="projectDetails.SizedByEmailID">
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="row">
          <div class="col-md-2">
            <label>Quote Created By</label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Name" class="form-control" [(ngModel)]="projectDetails.QuoteCreatedBy">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Email ID </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Email ID" class="form-control" [(ngModel)]="projectDetails.QuotedByEmailID">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row ">
    <div class="panel panel-default custompanel">
      <div class="panel-heading">
        <h3 class="panel-title">Costing Details</h3>
      </div>
      <div class="panel-heading subpanelheading">
        <h3 class="panel-title">Environment Details</h3>
      </div>
      <div class="panel-body labelText">
        <div class="row">
          <div class="col-md-2">
            <label>Environment </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Environment Name" class="form-control">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Concurrent User Count</label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Count" class="form-control">
          </div>
        </div>
        <div class="clear-fix"></div>
        <div class="row">
          <div class="col-md-2">
            <label>Deployment Region </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Region Name" class="form-control">
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <label>Duration </label>
          </div>
          <div class="col-md-3">
            <input type=text placeholder="Duration" class="form-control">
          </div>
        </div>
        <div class="clear-fix"></div>
      </div>
      <div class="panel-heading subpanelheading">
        <h3 class="panel-title">Resources Cost Details</h3>
      </div>
      <div class="panel-body labelText">
        <div class="row">
          <div class="col-md-3">
            <label>Resource Type</label>
          </div>
          <div class="col-md-3">
            <label>Size</label>
          </div>
          <div class="col-md-3">
            <label>Description</label>
          </div>
          <div class="col-md-2">
            <label>Price/Hour</label>
          </div>
          <div class="col-md-1">
              <label>Delete Resource</label>
            </div>
        </div>

        <div class="row" *ngFor="let resourceRow of resourceDetails;let i=index">
          <div class="col-md-3">
            <select class="form-control customdropdown" [(ngModel)]="resourceRow.Type" (change)="GetResourceSizes($event.target.value,i)">
              <option value="Select">Select</option> 
                <option *ngFor="let resource of resourcesList" >
                    {{resource.Type}}
                </option>
            </select>
          </div>
          <div class="col-md-3">
            <select class="form-control customdropdown" [(ngModel)]="resourceRow.Size" (change)="GetResourceSizeDescription($event.target.value,resourceRow)">
                <option *ngIf = "resourceRow.Sizes.length==0" value="N/A">N/A</option> 
                <option *ngIf = "resourceRow.Sizes.length!=0" value="Select">Select</option> 
                <option *ngFor="let size of resourceRow.Sizes" >
                    {{size.Size}}
                </option>
            </select>
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" [(ngModel)]="resourceRow.Description" readonly />
          </div>
          <div class="col-md-2">
            <input type="text" class="form-control" [(ngModel)]="resourceRow.Price" />
          </div>
          <div class="col-md-1">    
                  <button (click)="Delete()" class="btn btn-danger cusbtntrash">
                  <i class="glyphicon glyphicon-trash"></i></button>
          </div>
          <div class="clear-fix"></div>
        </div>      
          
        <div class="row">
        <input type="button" class="btn btn-primary custombutton" value="Add New Resource" (click)="addNewResource()"/>
          <!-- <a class='col-md-2' href="#" >Add New Resource</a> -->
        </div>
      </div>
    </div>

  </div>